<div  class="aboutme">
    <div class="info">
      <div class="info_head">
      <span>Name :</span>
      <span>email :</span>
      <span>Phone :</span>
      <span>Position :</span>
      <span>Address :</span>
      </div>
   <div class="info_data">
      <span>Mohamed Gamal</span>
      <span>mohamedgamal7872@gmail.com</span>
      <span>(+2) 01090453033</span>
      <span>Backend Web Developer</span>
      <span>Beni-Suef, Egypt</span>
     </div>
    </div>
    <div class="mylogo"><img class="image_logo" src="assets/imgs/portfolio.png" alt="this is a logo picture"></div>


  </div>