<div class="carasaul">
    <div class="myimg_container">
      <img class="myimg" src="assets/imgs/mohamed4.jpg" alt="this is the picture of abo hozifa"
        title="this is the picture of abo hozifa" />
    </div>
    <div class="about">
      <h3>Hi</h3>
      <h1>I'm <span>Abo-Hozifa</span></h1>
      <h2>I'm A Backend Web Developer</h2></br>
      <button aria-label="press to see my work" class="btndownload_cv">My Work</button>
      <button aria-label="press to contact me" class="btncontact_me">Contact</button>
    </div>
  </div>