<div class="footer">
    
    <div class="footer_about_me">
      <h1>About</h1>
     I have the ability to design complete web application and websites , write clean, well-designed code , Contribute in all phases of the
     development life-cycle and Follow industry best practices .
    </div>
    <div class="links_footer">
      <ul id="linksul_footer">
      <h1>Links</h1>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="services_footer">
    <h1>Services</h1>
      <span>Web Development</span>
      <span>Database Design</span>
      <span>Server Management</span>
    </div>
   
      <div class="contacts_me">
      <h1>Contact</h1>
      <i class="fa-solid fa-phone"></i><span> ( +2 ) 01090453033</span></br>
      <i class="fa-solid fa-envelope"></i><pan> mohamedgamal787@gmail.com</span></br>
      <i class="fa-solid fa-location-dot"></i><pan> Beni-Suef Egypt</span></br>
      <div class="social">
      <a href="https://www.facebook.com/profile.php?id=100022184404306" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://wa.link/7f3bwo" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="https://github.com/mohamed913" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/mohamed-gamal-67aa621a1/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      </div>

  </div>
  <div class="copy_right">
     Copyright ©<script>document.write(new Date().getFullYear());</script>
     All rights reserved | Abo-Hozifa
      </div>
