<nav>
    <div class="brand">Abo-Hozifa</div>
    <!-- <div class="brand"><img class="image_brand" src="imgs/portfolio.webp" alt=""></div> -->


    <i id="menubar" class="fa-solid fa-bars"></i>

    <div id="links" class="links">
      <ul id="linksul">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a id="modal_add_contact" href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>